.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
    gap: 15px;
    display: flex;
    align-items: center;
}

.mainLink {
    margin-right: 15px;
}

.modalBtns {
    display: flex;
    gap: 15px;
    align-items: center;
}
