.ErrorPage {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #bebebe;
    padding: 2%;
}

.error_wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 5%;
    background: #fff;

    p {
        font-size: 3rem;
        margin-bottom: 1rem;
        color: rgb(238 86 86 / 85%);
    }

    button {
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        border: 1px solid #000;
        cursor: pointer;
    }
}
